
## 08/13/2018

## Pandas Excercise
â€‹
Resources:
* https://pandas.pydata.org/
* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
* https://pandas.pydata.org/pandas-docs/stable/tutorials.html



Dataset Repository example:
* https://archive.ics.uci.edu/ml/datasets/Auto+MPG
* https://archive.ics.uci.edu/ml/index.php
* https://archive.ics.uci.edu/ml/datasets/Iris

In this project, we will look into Pandas library for data importing(loading), data cleaning, data wrangling and some exploratory data analysis function. The basic plotting and visualization of the data is also aimed for.

** Part-I: Importing the following library - pandas, numpy and matplotlib (pyplot) **

Import the Dataset from repository link: https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data

Requirements for the import function: 
1. Function name as " ImportData() "
2. Column name would have to be : ** ['mpg', 'cylinders', 'displacement','horsepower','weight', 'acceleration', 'model year', 'origin','car name']. **
3. Set the dataframe index (i.e., row labels) to 'car name' which is the last column in dataset.
4. Importing function in pandas to be used here are read_csv() or read_table().

Helpful links: 

* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv
* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html#pandas.read_table

In [ ]:
# Create function name " ImportData() " here,  to import dataset, handle columns and set the column index to car name  
# and return the data.


def ImportData(filename):   
    


    
    
    
    
    
    
    
    
#     df is the imported dataframe from the repository. The last column in the data is car name and this needs to be 
    
    return df




filename = #'link from repository or the CSV file from your local drive'    

data = ImportData(filename)
print(data.head())
print(data.index)

In [ ]:
# Print the data types for the dataframe imported. Observe each columns.

**Part II: Data Cleaning** of column indices with car names. Goal of the function "ColDataClean()" is to handle any missing data and also to process the data to produce a character without any spaces in between, for ex: **chevrolet chevelle malibu**. 
The function has to 
1. Named as ColDataClean()
2. Look for any Null/Na entries in the dataframe and delete them.
3. Columns labels (headers) are all smaller case (lower), change it to sentence case. following which, replace "space" in the string with the underscore '_'.
4. Print all the column index name that has space in between. use *.str.contains()*
5. Repeat (3) for index column aswell.

In [ ]:
def ColDataClean(data):
    
    # handle Null type entry below
    print (' ****** Printing any Null entries if any **********')
    print ()                                   # hint: use isnull().any
    
    
        
        
      
    
                            # Drop complete row and also column if all the values are NA
    
   



    
    print (' ---------------------Performing String operations on Column head---------------------------')    
    # Handling/cleaning the headers 
    print('Before:', data.columns)
    
    # 1. Change the case of the column names 
    

    # 2. the code here must replace the space with '_'



    print('After: ', data.columns)
    
    
    
    
    print (' ----------- Performing String operations on dataframe index i.e., car name ---------------')   
    
    # Handling/cleaning the COLUMN INDEX (str.replace () ) 
    print('Before: ', ) # Prints all the index that has column names with space in it
    
    
    # 1. Change the case of the index names to sentence case
    

    # 2. the code here must replace the space with '_'

    
      
    
    
    print('After: ', )
    
    
    
    return data

In [ ]:
data = ColDataClean(data)
data.head()
data.dtypes

**Part III: Data Cleaning/Manipulation - Handling special characters in the dataset **
Look at the dtype for the dataframe. The horsepower is considered as object. But this needs to be float type. Follow the comments.
Here in this function, handle the NAN and horsepower column data types to respective one.

In [ ]:
def HandleHP(df, col):
    
    if (df[col].dtype == 'object'):  # Changes only if column is an object!
        
        print('Necessary changes has to be incorporated. !!!')
        
        # print the data type for horsepower column
        print ('The data types for horsepower is :'            ) 
        
        # hint: df[col]=='?' # logical operator, the dataframe looks for string "?". The result is a boolean True or False.
        
        
        
         # Now, replace the unwanted string '?' in 'Horsepower' column with value 99.0 


         # replaced '?' with 99.0 value of horsepower, check the dtype. Changed to float? 

    
    
    
         # change the dtype of 'Horsepower' now. use .astype function
    
    
    

        
#         print ('The data types for horsepower is :', df[col].dtype) 
      
    
    return df


print('Before: \n ', data.dtypes)

HandleHP(data,'Horsepower')

print( '\n ')
print('After:\n ', data.dtypes)

** Part IV: Data Aggregation and Grouping   **

In [ ]:
#  Add new columns in data frame for Kmpl (kilometre per litre) & Kmpg (kilometre per gallon) and use mpg data to 
# convert to Kmpl (Note: 1 mpg = 0.425144 kmpl) and (1 mpg = 1.609 Kmpg)





print (data.head())

** Grouping **
Before grouping, one of the column in the dataset is origin, add another column to produce a column name **'CountryOrigin'**. Based on the resource info, origin indicates the country code i.e., [1,2,3] = ['USA','Europe', 'Asia']. Use dataframe.replace() for this function.  

* Group 1 should consists of Groupby objects of 'Model year' and 'country origin'
* Group 2 should contain only 'Country Origin'
* Group 3 should contain only 'Model year'
* Group 4 should consists of 'County origin' and 'Model year'

In [ ]:
#  The Origin indicates the country or the continent where the data is originated. Hence, create another 
#  column in the data frame that corresponds to the origin let 1 --> USA, 2--> Europe , 3 --> Asia. 
# Let the country code be stored in the column CountryOrigin.

data['CountryOrigin'] = 

# create groups here

Group1 = 

Group2 = 

Group3 = 

Group4 = 


# print the data from Group 2 and Group 3 using iterating over by For-loop command.

# printing group can be done as shown below. 
# 

for dtype, group in Group2:
    print (dtype)
    print('------------')
    print (group['Mpg'].head(),'\n')
    
    
    print('------------')

** Part V: Data exploration and analysis**

Create a function by name ** YearlyMileage() ** and observe the mileage performance over the period of time. Use plotting tools and plots such as line, bar or scatter.
Plot attributes such as 'Mpg','Horsepower','Cylinders','Displacement','CountryOrigin' in scatter plot matrix.

The function here has to provide the 
1. Yearly average mileage and produce an appropriate plot (either line or bar whichever is appropriate)
2. Edit the properties of the plot to display more user friendly.
3. Produce another scatter matrix for attributes such as mpg, horsepower, cylinders, displacement and country origin.
4. try the same scatter matrix attributes using seaborn library. 
5. In all this plots, make sure user understands the data i.e., add title, axis, lables, legends, colors etc.

In [ ]:
# Calculate mean for all the cars for each year starting from 1970 to 1982. Plot the profile for example use 
# Bar plot. Please maintain the figsize to atleast 12,6. 
# The below cell need to present a conclusion of the mpg over the period of 1970-1982. 
# The relationship between the attributes can be understood by looking into the scatter plot. 
# Import seaborn 


# Use Aggregate property of the group 1-3 to produce a mean for yearly data

YearMileage = 



print(YearMileage)



# Analyze the result by plotting in either bar or line plot.

YearMileage.plot.bar()


# Include the property to make it look good.

In [ ]:
# Scatter Matrix plot is very important for understanding of the dataset and its profile. 
# But scatter matrix can be done using library from pandas.plotting and importing scatter matrix from it.

# Import the required module here:

from pandas.plotting import scatter_matrix as sm



# Creating a function here to return a well-edited fig


def plotscatterMatrix(data):
    
    
    
    
    
    
    
    
    
    
    return 


# Function call 
plotscatterMatrix(data[['Mpg','Horsepower','Cylinders','Displacement','CountryOrigin']])

plt.show()

In [ ]:
import seaborn as sea

sea.set()

sea.pairplot(data[['Mpg','Horsepower','Cylinders','Displacement','CountryOrigin']], size = 3.0,hue ='CountryOrigin')

plt.show()